<!-- FOOTER -->

<!-- <div class="footer">
    <div class="footer-padding">
        <p>Made with ❤️ by The Ritik Yadav</p>
    </div>
</div> -->

  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by 
       <a href="#home">Learn Better</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#home"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#home"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#home"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#home"><i class="fa fa-linkedin"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>

</main>

<script
  src="/docs/5.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
  crossorigin="anonymous"
></script>
</body>
</html>