<header>
    <nav class="navbar navbar-expand-md others-nav">
      <div class="container-fluid">
        <a class="navbar-brand nav-title link-light" href="#"><h3>Learn Better</h3></a>
        <div class="collapse nav-list justify-content-end navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mb-2 mb-md-0 navbar-right">
            <li class="nav-item">
              <a class="nav-link active link-light" aria-current="page" href="/"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link active link-light" href="/#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active link-light" href="/resources">Resources</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active link-light" href="/mentor">Mentors</a>
            </li>
            <% if(user){ %>
              <li class="nav-item">
                <a class="nav-link active link-light" href="/logout">Logout</a>
              </li>
            <% } else { %>
            <li class="nav-item">
              <a class="nav-link active link-light" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active link-light" href="/register">Register</a>
            </li>
            <% } %>
          </ul>
        </div>
      </div>
    </nav>
  </header>