<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/compose" method="post">
        <select name="upperField" id="">
            <option value="tech">Technology</option>
            <option value="civilServices">Civil Services</option>
        </select>
        <input type="text" name="field" id="">
        <input type="text" name="courseURL" id="">
        <input type="text" name="imgURL" id="">
        <input type="text" name="creator" id="">
        <button type="submit">Submit</button>
    </form>
</body>
</html>