  <%- include("partials/header") -%>
  
    <main>
      <!-- Marketing messaging and featurettes
    ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->
      <div class="home">
        <header>
          <nav class="navbar navbar-expand-md navbar-dark">
            <div class="container-fluid">
              <a class="navbar-brand nav-title" href="#"><h3>Learn Better</h3></a>
              <div class="collapse nav-list justify-content-end navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mb-2 mb-md-0 navbar-right">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/"
                      >Home</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="/about">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="/resources">Resources</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="/mentor">Mentors</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="login">Login</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="register">Register</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </header>

        <div class="home-description">
          <h1>Learn what you love, with the way that you love</h1>
          <p>
            Learn with your passion with millions of people with amazing mentors
            form around the world
          </p>
        </div>
      </div>

      <div class="container marketing">
        <!-- START THE FEATURETTES -->

        <h1 class="featurette-top">What we Provide?</h1>

        <hr class="featurette-divider" />

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">
              Available for All Age Groups. It’ll help you to grow.
            </h2>
            <p class="lead">
              Break your chains of ages and start learning to fly and draw some
              colors in the sky.
            </p>
          </div>
          <div class="col-md-5">
            <img class="home-img" src="/images/home-card1.jpg" alt="" />
          </div>
        </div>

        <hr class="featurette-divider" />

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1">
              Best place to find your courses.
            </h2>
            <p class="lead">
              Courses from many providers to help you find the best courses on
              almost any subject, wherever they exist.
            </p>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="home-img" src="/images/home-card2.jpg" alt="" />
          </div>
        </div>

        <hr class="featurette-divider" />

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">
              Guidance from Mentors.
            </h2>
            <p class="lead">
              Get in touch with field experts to clear doubts and accelerate in
              your journey.
            </p>
          </div>
          <div class="col-md-5">
            <img class="home-img" src="/images/home-card3.jpg" alt="" />
          </div>
        </div>

        <hr class="bottom-hr" />

        <!-- /END THE FEATURETTES -->
      </div>
      <!-- /.container -->

  <%- include("partials/footer") -%>
