  <%- include("partials/header") -%>

  <%- include("partials/navbar") -%>
    
    <section class="vh-75">
        <div class="container login-margin h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card shadow-2-strong" style="border-radius: 1rem; width: 450px;">
                <div class="card-body p-5 text-center">
      
                  <h3 style="font-size: 40px; margin-bottom:10px">Sign in</h3>

                  <div class="col s12 m6 offset-m3 center-align">
                    <a class="oauth-container btn darken-4 white black-text" href="/users/google-oauth/" style="text-transform:none">
                        <div class="left">
                            <img width="20px" style="margin:8px" alt="Google sign-in" 
                                src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                                <p style="display:inline-block; margin-right: 4px;">Login with Google</p>
                        </div>
                        <p style="margin-top: 10px;">Or use your account</p>
                    </a>
                  </div>
                  
                  <form action="/login" method="post">
                  <div class="form-outline mb-4">
                    <input type="email" id="typeEmailX-2" class="form-control form-control-lg" name="username" placeholder="Email"/>
                  </div>
      
                  <div class="form-outline mb-4">
                    <input type="password" id="typePasswordX-2" class="form-control form-control-lg" name="password" placeholder="Password"/>
                  </div>
                  <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>

                </form>
      
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <%- include("partials/footer") -%>