<%- include("partials/header") %>
<body class="mentor_body">
    <div class="card">
        <h1 class="mentors_heading">Mentorship & Support</h1>
        <div class="mentor-heading_card">
        <img src="/images/mentor1.jpg" class="card-img">
        <p class="mentor_heading_text">Providing group and individualized coaching and support is critical for helping students of all age determine and achieve their goals. Technology can help provide essential supports at scale and customize interventions to meet individuals’ needs and interests. </p>
        <p class="mentor_heading_text">support texting or messaging to nudge desired behaviors and reach mentors via communication channels that are more relevant to them.</p>
        </div>
    </div >
    <div>
        <h1 class="mentors_heading">Meet our mentors</h1>
        <hr>
        <h2 class="mentors_heading">Tech Mentor</h2>
    <div class="row row-cols-1 row-cols-md-3 g-3 ">
        <div class="col">
        <div class="card h-100">
            <img src="/images/rc.jpg" class="card-img-top" alt="...">
            <div class="card-body" class="mentor_text">
            <h5 class="card-title">Rahul Choudhary <a href="mailto:rahul.choudhary.eee20@itbhu.ac.in">✉️</a></h5>
            <p class="card-text">He wanted to explore how to positively impact education beyond the classroom walls. This led him to work in the nonprofit space focusing on workforce/youth development by implementing this website.</p>
            <!-- <a href="https://www.linkedin.com/in/priyatamkumar/"><div class="Icon__IconContainer-sc-4jqwpl-0 JPKFG eapp-team-showcase-member-card-socials-icon" id="yui_3_17_2_1_1679047834799_499"><div id="yui_3_17_2_1_1679047834799_498"><div id="yui_3_17_2_1_1679047834799_497"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="injected-svg" data-src="https://static.elfsight.com/icons/linkedin.svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="yui_3_17_2_1_1679047834799_496"><path fill-rule="evenodd" d="M6.526 22h-4.13V8.667h4.13V22ZM4.442 6.92A2.45 2.45 0 0 1 2 4.46 2.451 2.451 0 0 1 4.442 2a2.451 2.451 0 0 1 2.442 2.46 2.452 2.452 0 0 1-2.442 2.46ZM22 22h-4.109v-6.999c0-1.919-.73-2.991-2.249-2.991-1.652 0-2.515 1.116-2.515 2.991V22h-3.96V8.667h3.96v1.796s1.191-2.202 4.02-2.202c2.828 0 4.853 1.727 4.853 5.298V22Z" id="yui_3_17_2_1_1679047834799_495"></path></svg></div></div></div></a> -->
            <!-- <a href="mailto:kpriyatam420@gmail.com"><br><i class="fas fa-envelope footer-icon"></i></a>
            <a href="https://wa.me/917488370430" target="_blank"><i class="fab fa-whatsapp footer-icon"></i></a>
            <a href="tel:+917488370430"><i class="fas fa-phone-square-alt footer-icon"></i></a> -->
            </div>
        </div>
        </div>
        <div class="col">
        <div class="card h-100">
            <img src="/images/ry.jpg" class="card-img-top" alt="...">
            <div class="card-body" class="mentor_text">
            <h5 class="card-title">Ritik Yadev <a href="mailto:ritik.yadev.eee20@itbhu.ac.in">✉️</a></h5>
            <p class="card-text">Currently graduating from IIT (BHU) Varanasi with a B.Tech in Electrical Engineering. Seemingly always involved in the "startup" phase of organizations, exploring a passion for development.</p>
            <!-- <a href="https://www.linkedin.com/in/priyatamkumar/"><div class="Icon__IconContainer-sc-4jqwpl-0 JPKFG eapp-team-showcase-member-card-socials-icon" id="yui_3_17_2_1_1679047834799_499"><div id="yui_3_17_2_1_1679047834799_498"><div id="yui_3_17_2_1_1679047834799_497"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="injected-svg" data-src="https://static.elfsight.com/icons/linkedin.svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="yui_3_17_2_1_1679047834799_496"><path fill-rule="evenodd" d="M6.526 22h-4.13V8.667h4.13V22ZM4.442 6.92A2.45 2.45 0 0 1 2 4.46 2.451 2.451 0 0 1 4.442 2a2.451 2.451 0 0 1 2.442 2.46 2.452 2.452 0 0 1-2.442 2.46ZM22 22h-4.109v-6.999c0-1.919-.73-2.991-2.249-2.991-1.652 0-2.515 1.116-2.515 2.991V22h-3.96V8.667h3.96v1.796s1.191-2.202 4.02-2.202c2.828 0 4.853 1.727 4.853 5.298V22Z" id="yui_3_17_2_1_1679047834799_495"></path></svg></div></div></div></a>
             -->
            </div>
        </div>
        </div>
        <div class="col">
        <div class="card h-100">
            <img src="/images/pk.jpg" class="card-img-top" alt="...">
            <div class="card-body" class="mentor_text">
            <h5 class="card-title">Priyatam Kumar <a href="mailto:priyatam.kumar.eee20@itbhu.ac.in">✉️</a></h5>
            <p class="card-text">Priyatam is a career educator who believes that co-constructing solutions with communities, and honoring the voices of those historically silenced and narrated over, are critical to advancing equity through innovation.</p>
            <!-- <a href="https://www.linkedin.com/in/priyatamkumar/"><div class="Icon__IconContainer-sc-4jqwpl-0 JPKFG eapp-team-showcase-member-card-socials-icon" id="yui_3_17_2_1_1679047834799_499"><div id="yui_3_17_2_1_1679047834799_498"><div id="yui_3_17_2_1_1679047834799_497"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="injected-svg" data-src="https://static.elfsight.com/icons/linkedin.svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="yui_3_17_2_1_1679047834799_496"><path fill-rule="evenodd" d="M6.526 22h-4.13V8.667h4.13V22ZM4.442 6.92A2.45 2.45 0 0 1 2 4.46 2.451 2.451 0 0 1 4.442 2a2.451 2.451 0 0 1 2.442 2.46 2.452 2.452 0 0 1-2.442 2.46ZM22 22h-4.109v-6.999c0-1.919-.73-2.991-2.249-2.991-1.652 0-2.515 1.116-2.515 2.991V22h-3.96V8.667h3.96v1.796s1.191-2.202 4.02-2.202c2.828 0 4.853 1.727 4.853 5.298V22Z" id="yui_3_17_2_1_1679047834799_495"></path></svg></div></div></div></a>
         -->
        </div>
        </div>
        </div>
    </div>
    <div>
        <hr>
        <h2 class="mentors_heading">Mentor</h2>
    <div class="row row-cols-1 row-cols-md-3 g-3 ">
        <div class="col">
        <div class="card h-100">
            <img src="/images/raj.jpg" class="card-img-top" alt="...">
            <div class="card-body" class="mentor_text">
            <h5 class="card-title">Raj Nalbalwar <a href="mailto:raj.nalbalwar.eee20@itbhu.ac.in">✉️</a> </h5>
            <p class="card-text">Closely worked with and supported many student and startups in the EdTech space across the India. He is personally excited about the future of EdTech, and would love to help anyone innovating in this space.</p>
            
            </div>
        </div>
        </div>
        <div class="col">
        <div class="card h-100">
            <img src="/images/pratyush.jpg" class="card-img-top" alt="...">
            <div class="card-body" class="mentor_text">
            <h5 class="card-title">Pratyush Singh <a href="mailto:pratyush.singh.eee20@itbhu.ac.in">✉️</a></h5>
            <p class="card-text">graduating from IIT (BHU) Varanasi with a B.Tech in Electrical Engineering. Seemingly always involved in the Aerospace, and he had win many casestudy competition in different IITs</p>
            <!-- <a href="https://www.linkedin.com/in/priyatamkumar/"><div class="Icon__IconContainer-sc-4jqwpl-0 JPKFG eapp-team-showcase-member-card-socials-icon" id="yui_3_17_2_1_1679047834799_499"><div id="yui_3_17_2_1_1679047834799_498"><div id="yui_3_17_2_1_1679047834799_497"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="injected-svg" data-src="https://static.elfsight.com/icons/linkedin.svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="yui_3_17_2_1_1679047834799_496"><path fill-rule="evenodd" d="M6.526 22h-4.13V8.667h4.13V22ZM4.442 6.92A2.45 2.45 0 0 1 2 4.46 2.451 2.451 0 0 1 4.442 2a2.451 2.451 0 0 1 2.442 2.46 2.452 2.452 0 0 1-2.442 2.46ZM22 22h-4.109v-6.999c0-1.919-.73-2.991-2.249-2.991-1.652 0-2.515 1.116-2.515 2.991V22h-3.96V8.667h3.96v1.796s1.191-2.202 4.02-2.202c2.828 0 4.853 1.727 4.853 5.298V22Z" id="yui_3_17_2_1_1679047834799_495"></path></svg></div></div></div></a>
             -->
            </div>
        </div>
        </div>
        <div class="col">
        <div class="card h-100">
            <img src="/images/suraj.jpg" class="card-img-top" alt="...">
            <div class="card-body" class="mentor_text">
            <h5 class="card-title">Suraj Dharamraj Patil <a href="mailto:surajdpatil0306@gmail.com">✉️</a></h5>
            <p class="card-text">he is joint seceratery of astronomy club of IIT (BHU) Varanasi. He has good experience in telescope handlind and good knowledge of Astrophysics</p>
            <!-- <a href="https://www.linkedin.com/in/priyatamkumar/"><div class="Icon__IconContainer-sc-4jqwpl-0 JPKFG eapp-team-showcase-member-card-socials-icon" id="yui_3_17_2_1_1679047834799_499"><div id="yui_3_17_2_1_1679047834799_498"><div id="yui_3_17_2_1_1679047834799_497"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="injected-svg" data-src="https://static.elfsight.com/icons/linkedin.svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="yui_3_17_2_1_1679047834799_496"><path fill-rule="evenodd" d="M6.526 22h-4.13V8.667h4.13V22ZM4.442 6.92A2.45 2.45 0 0 1 2 4.46 2.451 2.451 0 0 1 4.442 2a2.451 2.451 0 0 1 2.442 2.46 2.452 2.452 0 0 1-2.442 2.46ZM22 22h-4.109v-6.999c0-1.919-.73-2.991-2.249-2.991-1.652 0-2.515 1.116-2.515 2.991V22h-3.96V8.667h3.96v1.796s1.191-2.202 4.02-2.202c2.828 0 4.853 1.727 4.853 5.298V22Z" id="yui_3_17_2_1_1679047834799_495"></path></svg></div></div></div></a>
         -->
        </div>
        </div>
    </div>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-3 ">
        <div class="col">
            <div class="card h-100">
                <img src="/images/divyakant.jpg" class="card-img-top" alt="...">
                <div class="card-body" class="mentor_text">
                <h5 class="card-title">Divyakant Kumar <a href="mailto:divyaantkumar670@gmail.com">✉️</a></h5>
                <p class="card-text">he is currently working in Zscaler as a security team,with rich industry experience in Leading, Coaching & Mentoring, high performance teams in multiple Startups and MNCs.</p>
                </div>
            </div>
            </div>
        <div class="col">
        <div class="card h-100">
            <img src="/images/rahul.jpg" class="card-img-top" alt="...">
            <div class="card-body" class="mentor_text">
            <h5 class="card-title">Rahul Meena <a href="mailto:rahul.meena.eee20@itbhu.ac.in">✉️</a> </h5>
            <p class="card-text">Closely worked with and supported many student and startups in the EdTech space across the India. He is personally excited about the future of India, and would love to help anyone innovating in this space.</p>
            
            </div>
        </div>
        </div>
        <div class="col">
        <div class="card h-100">
            <img src="/images/shashank.jpg" class="card-img-top" alt="...">
            <div class="card-body" class="mentor_text">
            <h5 class="card-title">Shashank Kumar <a href="mailto:surajdpatil0306@gmail.com">✉️</a></h5>
            <p class="card-text">He is a result –oriented and effective leader with proven ability to revive financial and economical troubled companies or institutions. One of his core strength lies is his ability to proactively identify.</p>
        </div>
        </div>
    </div>
    </div>
</body>
